/* General rules and resetting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

img {
    display: block;
    width: 100%;
}

button {
    border: none;
    padding: 5px 10px;
}

.container-small,
.container-big {
    display: block;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
}

.container-small {
    max-width: 920px;
}

[class^= 'spacer-'] {
    flex-grow: 1;
}

.btn-blue {
    background-color: #0261FF;
    color: white;
}

.btn-white {
    background-color: white;
    color: grey;
}

/* nav */

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 0.8rem;
    padding: 10px;
}

nav img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li > a {
    text-decoration: none;
    color: grey;
}

/* header */

header {
    background-color: #B4D1E7;
}