/* General rules and resetting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: .9rem;
}

p,
span {
    font-size: .75rem;
    color: rgb(110, 110, 110);
}


img {
    display: block;
    width: 100%;
}

button {
    border: none;
    padding: 8px;
}

.container-small,
.container-big {
    display: block;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
}

.container-small {
    max-width: 920px;
}

[class^= 'spacer-'] {
    flex-grow: 1;
}

.btn-blue {
    background-color: #0261FF;
    color: white;
}

.btn-white {
    background-color: white;
    color: grey;
}

/* nav */

nav {
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;

    font-size: 0.8rem;
    padding: 10px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 5;
}

.nav-left,
.nav-right {
    display: flex;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;

    padding: 0 1rem;
}

nav ul li > a {
    text-decoration: none;
    color: grey;
}

/* header */

header {
    background-color: #B4D1E7;

    margin-top: 50px;
}

header .container-big {
    position: relative;

}

.header-jumbo {
    display: flex;
}

.img-jumbo {
    flex-grow: 1;
}

/* plan div */

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    justify-content: space-between;
}

.plan-card {
    border: 1px solid #444444;

    font-size: .9rem;

    flex-grow: 1;
}

.card-body,
.row-card-body {
    display: flex;

    gap: 40px;
    padding: 20px;
}

.card-body {
    flex-direction: column;
}

.row-card-body button {
    width: 100%;
}

.plan-user {
    text-align: center;
    border-bottom: 1px solid #444444;
    padding: .5rem;
}

.plan-price {
    line-height: 30px;
}

.divider {
    border-bottom: 3px solid #444444;

    width: 20%;
}

.plan-offers li,
.plan-selling-points li {

    padding-left: 20px;
    position: relative;
}

.plan-offers i,
.plan-selling-points i {
    position: absolute;
    left: 0px;
}

.partner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.partner button {
    border: 1px solid black;
}

.partner .col-40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* slide */

.slide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.slide-container img {
    object-fit: contain;
}

.business-container {
    display: flex;
    justify-content: center;
}

/* companies */

.companies-container {
    display: flex;
}

.companies-container .col-30 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    flex-grow: 1;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    height: 50%;

    flex-grow: 1;
}

/* business */
.business-container {
    display: flex;
    align-items: flex-start;
}

/* qea */

.qea h4,
.qea h2 {
    border-bottom: 1px solid #444444;
}

.qea h4{
    padding: 30px 0;
}

/* footer  */

.footer-links-container {
    display: flex;
    justify-content: space-between;
}
